*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: rgb(103, 109, 126);
    --Grey500: rgb(72, 85, 106);
    --DarkBlue: rgb(25, 33, 46);
    --Black: rgb(18, 18, 18);
}

@font-face {
    font-family: 'BarlowSemiCondensed500';
    src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf');
}

@font-face {
    font-family: 'BarlowSemiCondensed600';
    src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf');
}

body {
    display: grid;
    min-height: 100vh;
    background-color: var(--Grey100);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0.8rem;
    font-family: 'BarlowSemiCondensed500';
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    gap: 2rem;
}

figure {
    display: flex;
}

.student-image {
    display: grid;
    border-radius: 100%;
    width: 2rem;
    margin-right: 1rem;
}

.student-name {
    font-family: 'BarlowSemiCondensed600';
    font-size: 0.9rem;
}

.role {
    font-size: 0.75rem;
}

.testimonial {
    border-radius: 1rem;
    padding: 2.2rem;
    width: 1fr;
    height: 1fr;
    box-shadow: 2em 1rem 3rem var(--Grey200);
}

.summary {
    font-family: 'BarlowSemiCondensed600', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.direct-quote {
    margin-top: 1rem;
    font-size: 1rem;
}

#daniel-clifford {
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position-x: 89%;
    background-color: var(--Purple500);
    color: var(--Purple300);
    grid-column: span 2;
}

#daniel-clifford .summary {
    color: white;
}

#daniel-clifford .student-image {
    border: 0.2rem solid var(--Purple300);
}

#patrick-abrams {
    background-color: var(--Black);
    color: var(--Grey200);
    grid-column: span 2;
}

#jonathon-walters {
    background-color: var(--Grey400);
    color: var(--Grey200)
}

#jonathon-walters .summary {
    color: white;
}

#jeanette-harmon {
    background-color: white;
    color: var(--Grey400);
}

#kira-whittle {
    background-color: white;
    grid-row: span 2;
    color: var(--Grey400);
}